/* Css RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main */
html, body{
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}

a {
    color: #333;
    text-decoration: none;
}

h1, h2, h3 {
    padding-bottom: 20px;
}

/* Utility */
.container{
    margin: auto;
    overflow: auto;
    padding: 20px 20px;
}
.text-primary{
    color: #f7c08a;
}

.lead{
    font-size: 20px;
}

.btn {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    background: #333;
    padding: 13px 20px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background: #f7c08a;
    color: #333;
}

.btn-light{
    background: #f4f4f4;
    color: #333;
}


.bg-primary{
    background: #f7c08a;
    color: #333;
}

.bg-light{
    background: #f4f4f4;
    color: #333;
}

.bg-dark{
    background: #333;
    color: #fff;
}

.clear {
    clear: both;
}

.l-heading{
    font-size: 40px;
}

/* padding */
.py-1 {
    padding: 10px 0;
}
.py-1 {
    padding: 20px 0;
}
.py-1 {
    padding: 30px 0;
}

/* Nav Bar */
#navbar {
    background: #333;
    color: #fff;
    overflow: auto;
}

#navbar a {
    color: #fff;
}

#navbar h1 {
    color: #fff;
    padding-top: 20px;
    float: left;
}

#navbar ul {
    float: right;
    list-style: none;
}

#navbar ul li {
    float: left;
    padding: 20 0 20 0;
    margin: 5px;
}

#navbar ul li a {
    display: block;
    padding: 20px;
    text-align: center;
}

#navbar ul li a:hover,
#navbar ul li a.current {
    background: #444;
    color: #f7c08a;
}

/* Showcase */
#showcase {
    background: url('../img/showcase.jpg') no-repeat center center/cover;
    height: 600px;
}

#showcase .showcase-content {
    color: #fff;
    text-align: center;
    padding-top: 170px;
}

#showcase .showcase-content h1{
    font-size: 60px;
    line-height: 1.2em;
}

#showcase .showcase-content p {
    padding-bottom: 20px;
    line-height: 1.7em;
}

/* Showcase About */
#showcase-about {
    background: url('../img/showcase3.jpeg') no-repeat center center/cover;
    height: 600px;
}

#showcase-about .showcase-content-about {
    color: #fff;
    text-align: center;
    padding-top: 170px;
}

#showcase .showcase-content-about h1{
    font-size: 60px;
    line-height: 1.2em;
}

#showcase .showcase-content-about p {
    padding-bottom: 20px;
    line-height: 1.7em;
}

/* Home Info */
#home-info {
    height: 400px;
}

#home-info .info-img {
    float: left;
    width: 50%;
    background: url('../img/photo-1.jpg') no-repeat;
    min-height: 100%;
}

#home-info .info-content {
    float: right;
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 50px 30px;
    overflow: hidden;
}

/* Home Info */
#home-info2 {
    height: 400px;
}

#home-info2 .info-img {
    float: right;
    width: 50%;
    background: url('../img/photo-12.jpg') no-repeat;
    min-height: 100%;
}

#home-info2 .info-content {
    float: left;
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 50px 30px;
    overflow: hidden;
}

/* Home Info */
#home-info3 {
    height: 400px;
}

#home-info3 .info-img {
    float: left;
    width: 50%;
    background: url('../img/photo-10.jpg') no-repeat;
    min-height: 100%;
}

#home-info3 .info-content {
    float: right;
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 50px 30px;
    overflow: hidden;
}

/* Features */
.box {
    float: left;
    width: 33.3%;
    padding: 50px;
    text-align: center;
}

form{
    margin: 30px;
}

/* Contact */
#contact-form .form-group {
    margin-bottom: 20px;

}

#contact-form label {
    display: block;
    margin-bottom: 5px;
}

#contact-form input,
#contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px #ddd solid;
}

#contact-form textarea{
    height: 200px;
}

#contact-form input:focus,
#contact-form textarea:focus{
    outline: none;
    border-color: #f7c08a;
}

/* footer */
#main-footer {
    text-align: center;
    background: #444;
    color: #fff;
    padding: 20px;
}